@charset "utf-8";

* {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;
}

a {
    text-decoration: none;
    display: block;
}

.logo {
    width: 200px;
    height: 120px;    
 
}
nav {
    width: 200px;
    height: calc(100vh - 200px);
}

/* 사이드 내비게이션  */

.main>li {
    width: 200px;
    position: relative;
}
.main>li>a {
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    color: #111;
    background-color: #eee;
}
.sub>li>a {
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #777;
}
.main>li:hover >a {
    color: #fff;
    background-color: #333;
}
.sub>li:hover >a {
    color: #111;
    background-color: tomato;    
}
.sub {
    position: absolute;    
    visibility: hidden;
    height: 0;
}
.main>li:hover .sub {
    visibility: visible;
    height: 120px;
    margin-left: 200px;
    margin-top: -60px;
}