@charset "utf-8";
/* @: 엣 */

/* shift+alt+f */
/* shift+alt+아래방향키 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #eee;
    height: 100px;
}

.s1 {
    background: #ccc;
    height: 300px;
}

.s2 {
    background: #aaa;
    height: 200px;
}

.footer {
    background: #111;
    height: 100px;
}