@charset "utf-8";
/* 
*{
    outline:1px solid lime;
} */

*{
    box-sizing: border-box;
}

body, ul, p{
    margin: 0;
    padding:0;
}

body{
    background: #fff;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#333;
}

.wrap{
    display: flex;
}

.left{
    width: 200px;
    height: 650px;
}

nav{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    padding:20px;

}

.main{
    border:5px solid blue;
}

.sub{
    font-size: 15px;
    font-weight: normal;

}

.main>li:hover{
    background: blue;
}

.main>li:hover>a{
    color:#fff;
}




.sub{
    height: 200px;
    width:200px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left:180px;
    top:50px;
    align-items: center;
}

.sub li{
    background: blue;
}



.main>li:hover .sub{
    opacity: 1;
    visibility: visible;
}

.sub>li:hover a{
    background: blue;
}

.sub>li:hover a{
    color:#fff;
}
.right{
    width: 800px;
    height: 650px;
}

#slide{
    width: 800px;
    height: 350px;
    overflow: hidden;
}

#main{
    display: flex;
}

#gallery{
    position: relative;
    top:-50px;
}
#gallery ul{
    display: flex;
}

#footer_wrap{
    display: flex;
}

.ft_menu ul{
    display: flex;
}