@charset "utf-8";
/* 
*{
    outline:1px solid lime;
} */

*{
    box-sizing: border-box;
}

body, ul, p{
    margin: 0;
    padding:0;
}

body{
    background: #fff;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#333;
}

.wrap{
    display: flex;
}

.left{
    width: 200px;
    height: 650px;
}

nav{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    /* padding:20px; */
    /* margin:10px; */

}

.main{
    border:5px solid blue;
}


.main>li:hover{
    background: blue;
}

.main>li:hover>a{
    color:#fff;
}

.main>li{
    position: relative;
}

.sub{
    font-size: 15px;
    font-weight: normal;
    height: 300px;
    width:200px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left:600px;
    top:-30px;
    align-items: center;
    background: blue;
    z-index: 10;
}


.main>li:hover .sub{
    opacity: 1;
    visibility: visible;

}

.main>li:hover .sub li a{
    color:#fff;
}

.sub>li:hover{
    background: rgb(1, 1, 107);
}

.main li:hover .sub{
    left: 160px;
}

.right{
    width: 800px;
    height: 650px;
}

#slide{
    width: 800px;
    height: 350px;
    overflow: hidden;
}

#main{
    display: flex;
}

#gallery{
    position: relative;
    top:-50px;
}
#gallery ul{
    display: flex;
}

#footer_wrap{
    display: flex;
}

.ft_menu ul{
    display: flex;
}