@charset "uft-8";

/* typo */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

h1, h2, h3, a, p, span, input, textarea {
    font-family: "Noto Sans KR", sans-serif;
    color: #363636;
    line-height: 1.5;
}

h1 {
    font-size: 68px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10%;
    margin-bottom: 0;
}

p {
    font-size: 20px;
    font-weight: 400;
}

/* header typo */
header .main>li>a {
    font-size: 20px;
    color: #fff;
    margin: 0 40px;
}

/* footer typo */
footer p, footer span {
    color: #fff;
    font-size: 16px;
    line-height: 0;
    font-weight: 300;
}

footer span {
    color: rgba(255, 255, 255, .5);
    margin: 0 16px 0 40px;
}

.footerText>p {
    margin-left: 40px;
}

/* header */
body {
    position: relative;
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    left: -12px;
    top: 0;
    height: 100px;
    /* transform: translate(-50%, 0); */
    z-index: 3;
    display: flex;
    justify-content: center;
    transition: 1s;
}

header.active {
    background: rgba(0, 0, 0, .5);
}

header nav {
    width: 1903px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main li {
    height: 100px;
    line-height: 100px;
    position: relative;
    z-index: 4;
}

.sub {
    width: 280px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    display: flex;
    height: 0;
    line-height: 100px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main>li:hover {
    border-bottom: 2px solid #ffd600;
}

.main>li:hover a {
    color: #363636;
}

.main>li:hover .sub {
    visibility: visible;
    opacity: 1;
    height: 100px;
}

.sub li:hover a {
    font-weight: 600;
}

.main>li:hover+span {
    width: 1903px;
    height: 200px;
    background: #ffffff80;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* footer */
footer {
    border-top: 1px solid rgba(255, 255, 255, .25);
    width: 1903px;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    position: relative;
}

.footerText div {
    display: flex;
}

.footerRight ul {
    display: flex;
    position: absolute;
    right: 40px;
    top: 40px;
}

.footerRight li {
    margin-left: 12px;
    opacity: .5;
}

.footerRight li:hover {
    opacity: 1;
}